In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("../datasets/usedcars.csv")
df = df._get_numeric_data()
df.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
0,3,122,88.6,0.811148,0.890278,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0,11.190476,0,1
1,3,122,88.6,0.811148,0.890278,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,0,1
2,1,122,94.5,0.822681,0.909722,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,0,1
3,2,164,99.8,0.848630,0.919444,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,0,1
4,2,164,99.4,0.848630,0.922222,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,0,1

In [8]:
y_data = df["price"]
x_data = df.drop("price", axis=1)

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    x_data, y_data, test_size=0.10, random_state=1
)

In [12]:
from sklearn.linear_model import LinearRegression

lre = LinearRegression()
lre.fit(x_train[["horsepower"]], y_train)
print(lre.score(x_test[["horsepower"]], y_test))
print(lre.score(x_train[["horsepower"]], y_train))

0.36358755750788263
0.6619724197515104

In [13]:
from sklearn.model_selection import cross_val_score

Rcross = cross_val_score(lre, x_data[["horsepower"]], y_data, cv=4)
Rcross

array([0.7746232 , 0.51716687, 0.74785353, 0.04839605])

In [14]:
print(
    "The mean of the folds are",
    Rcross.mean(),
    "and the standard deviation is",
    Rcross.std(),
)

The mean of the folds are 0.522009915042119 and the standard deviation is 0.2911839444756029

In [16]:
from sklearn.model_selection import cross_val_predict

yhat = cross_val_predict(lre, x_data[["horsepower"]], y_data, cv=4)
yhat[0:5]

array([14141.63807508, 14141.63807508, 20814.29423473, 12745.03562306,
       14762.35027598])